.cart {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-quantity {
    margin-right: 6rem;  
}

.unavailable-row {
    background-color: #ffcccc; 
    color: #ff0000; 
  }
  

.cart-header {
    display: flex;    
    justify-content: space-evenly;     
    font-weight: bold;
}

.cart-header-quantity {
    margin-left: 40rem;
}

.cart-header-title {
    display: flex;
    align-items: center;
}

.custom-footer{
    display: flex;   
    justify-content: space-between;
    align-items: center;     
}

.custom-footer p{
    font-weight: bold;
    font-size: large;
}
.cart-precio-final li{
    font-weight: bold;
    font-size: medium;
}

